/* general rules */

* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #d7dbd7;
    font-family: 'Lato', sans-serif;
    font-size: small;
}

/* structure rules */

main {
    position: absolute;
    margin: auto;
    top: 3vh;
    left: 10vw;
    width: 80vw;
    height: 94vh;
    background-color: #fafafa;
    display: flex;
    /* align-items: flex-start;
    justify-content: flex-start; */
    flex-wrap: wrap;
}

aside {
    width: 400px;
    height: 94vh;

}

section.chat-board {
    width: calc(100% - 400px);
    height: 94vh;
    background-image: url(../img/chat-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#wall {
    padding: 5vh 5vw;
    width: 100%;
    height: calc( 94vh - 96px)
}

.v-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}


.scroll {
    overflow-y: auto;
    width: 100%;
}

.row {
    /* max-height: 50px; */
    width: 100%;
    display: flex;
    padding: 8px;
}

.box {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
}

.align-center {
    align-items: center;    
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.j-stretch {
    justify-content: stretch;
}

.j-between {
    justify-content: space-between;
}

.j-end {
    justify-content: flex-end;
}

.j-start {
    justify-content: flex-start;
}

.j-center {
    justify-content: center;
}

.c-end {
    align-content: flex-end;
}

/* Styles rules */

.txt-grey {
    color: #727272;
}

.underline {
    text-decoration: underline;
}

.txt-lightgrey {
    color: #909090;
    font-size: x-small;
}

.strip {
    height: 100px;
    background-color: #009688;
    z-index: -10;
}

.avatar-sm {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 8px;
}

.icon-a {
    color: #b1b1b1;
    margin: 8px;
    font-size: medium;
}

.icon-b {
    color: #767677;
    margin: 8px 16px;
    font-size: medium;
}

.bg-white {
    background-color: white;
}

.bg-notif {
    background-color: #8edafc;
}

.bg-grey {
    background-color: #eaeaea;
}

.col-notif {
    color: #8edafc;
    font-size: medium;
}

.bar-container {
    width: 100%;
    display: flex;
    border-radius: 5px;
    margin: 0 6px;
    background-color: white;
    /* overflow: hidden; */
}

.searchIcon {
    padding: 8px;
    color: #b1b1b1;
}

#search-bar {
    border: 0;
    padding: 4px;
    flex: 1;
    border-radius: 5px;
}

.avatar {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin-right: 8px;
}

.border-bottom {
    border-bottom: 1px solid #eaeaea;
}

.bg-active {
    background-color: #e9ebeb;
}

.received-baloon {
    display: block;
    max-width: 40%;
    padding: 10px 40px 14px 14px;
    margin: 2px 0;
    border-radius: 8px;
    background-color: #ffffff;
}

.sent-baloon {
    display: block;
    max-width: 40%;
    padding: 10px 40px 14px 14px;
    margin: 2px 0;
    border-radius: 8px;
    border-top-right-radius: 0px;
    background-color: #d5f9ba;
}

#message-bar {
    border: 0;
    padding: 6px;
    flex: 1;
    border-radius: 5px;
}

.time-txt {
    display: block;
    text-align: end;
    margin: -6px -28px;
}

.hidden {
    display: none;
}
