<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- lato font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
        
    <!-- fontawesome icons  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
    <link rel="stylesheet" href="css/style.css">

    <title>What's the app</title>
</head>
<body>
    <main id="uozzap">
        <aside class="v-container">
            <div class="row j-between align-center bg-grey">
                <div class="box align-center">
                    <img src="img/Avatar_01.jpg" alt="Your Avatar" class="avatar-sm">
                    <b>Giorgio</b>
                </div>
                <div class="box">                 
                    <i class="icon-a fas fa-circle-notch"></i>
                    <i class="icon-a fas fa-comment-alt"></i>
                    <i class="icon-a fas fa-ellipsis-v"></i>
                </div>
            </div>
            <div class="row bg-notif align-center">
                <div class=" box avatar bg-white align-center j-center">
                    <i class=" col-notif fas fa-bell-slash"></i>
                </div>
                <div>
                    <b>Ricevi notifiche di nuovi messaggi</b>
                    <br>
                    <span class="txt-grey underline">Attiva notifiche desktop</span>
                </div>
            </div>
            <!-- SEARCH -->
            <div class="row">
                <div class="bar-container">
                    <i class="fa fa-search searchIcon"></i>
                    <input id="search-bar" type="search" name="search" placeholder="Cerca o inizia una nuova chat" v-model="searchEntry" @keyup="filterChats()">
                </div>
            </div>
            <!-- contacts list -->
            <div class="scroll v-container">
                <div v-for="(contact, index) in allChats" :id="contact.contactName" class="row j-between" :class="allChats[index].active === true ? 'bg-active' : ''" @click="changeContact(index)" :key="index">
                    
                    <div class="box align-center">
                        <img :src="`img/Avatar${contact.avatar}.jpg`" :alt="contact.contactName" class="avatar">
                        <div>
                            <b>{{contact.contactName}}</b>
                            <br>
                            <span v-for="(last, key) in contact.messages" :key="key" v-if="key == contact.messages.length - 1" class="txt-lightgrey">{{last.message}}</span>
                        </div>
                    </div>
                    <div v-for="(lasttime, baby) in contact.messages" :key="baby" class="box align-start ">
                        <span v-if="baby == contact.messages.length - 1" class="txt-lightgrey">{{lasttime.dateMess}}</span>
                    </div>
                </div>
            </div>
        </aside>
        <!-- chat -->
        <section class="chat-board">
            <div v-for="(chat, j) in allChats" :key="j" v-if="chat.active === false" class="empty">
            </div>
            <div v-else class="v-container">
                <div class="row j-between align-center bg-grey">
                    <div class="box">
                        <img :src="`img/Avatar${chat.avatar}.jpg`" alt="chat.contactName" class="avatar-sm">
                        <div>
                            <b>{{chat.contactName}}</b>
                            <br>
                            <span class="txt-lightgrey">ultimo accesso non si sa</span>
                        </div>
                    </div>
                    <div class="box">                 
                        <i class="icon-a fa fa-search"></i>
                        <i class="icon-a fas fa-paperclip"></i>
                        <i class="icon-a fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <!-- MESSAGGI -->
                <div id="wall" class="scroll v-container">
                    <div v-for="(mess, k) in chat.messages" :class="mess.statusMess === 'sent' ? 'box j-end' : 'box j-start'" class="" :key="k">
                        <span :class="mess.statusMess === 'sent' ? 'sent-baloon' : 'received-baloon'">
                            <span>
                                {{mess.message}}
                            </span>
                            <span class="time-txt txt-lightgrey">{{mess.timeMess}}</span>
                        </span>
                    </div>
                </div>
                <div class="row j-between align-center c-end bg-grey">
                    <i class="icon-b far fa-smile"></i>
                    <div class="bar-container ">
                        <input id="message-bar" type="text" name="text" @keyup.enter="addMess(j)" v-model="newMess" placeholder="Scrivi un messaggio">
                    </div>
                    <i class="icon-b fas fa-microphone"></i>
                </div>

            </div>

        </section>
    </main>
    <div class="strip">

    </div>
    
    <!-- link vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/myscript.js"></script>
</body>
</html>